body {
  margin: 0;
  font-family: 'Abyssinica SIL',"Arial", serif;
  background-color: rgb(108, 104, 100);
}

.header {
  margin: 0px;
  background-color: #0A0A0A;
}

.nav {
  color: white;
  text-decoration: none;
  margin-bottom: 0.7%;
  object-position: center;
  vertical-align: text-bottom;
  font-weight: 700;
  font-size: 14px;
}

.header-line {
  padding-top: 30px;
  display: flex;
  margin: 0px;
}
.my-page {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
}

a {
  color: #fff;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  margin-right: 25px;
  margin-left: 10px;
  object-position: center;
  font-weight: 700;
  font-size: 20px;
}

.elements {
  height: 90%;
  background-size: 30%;
}

.tables {
  height: 105%;
  background-size: 30%;
  margin-left: 50%;
  margin-top: -250px;
}

.forsite {
  size-adjust:initial;
  vertical-align: middle;
  position: relative;
  top: 100px;
  left:60px;
}

.text-desc {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 60px;
  top: 80px;
  color: #ebeaed;
}

.table {
  float:right;
  caption-side: top;
  border:#111011;
  top: 150px;
  right: 120px;
  margin-bottom: 20px;
  border-collapse: separate;
  position: relative;
  left: 100px;
  background-color: white;
}

.down-line {
  background-color: #111011;
  height: 20px;
  padding-top: 32px;
  margin-bottom: 0%;
  display: flex;
  align-items:center;
}

.bottom-items {
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
  object-position: center;
  font-weight: 700;
  font-size: 14px;
}

.info{
  color: white;
  text-decoration: none;
}

.list {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 165px;
  right: 90px;
  background-color: #0b050f;
  color: #fffefe;
}